.nb-accordion {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 2;
}

.nb-accordion-item {
    width: 500px;
}

.indicator {
    background-color: #EF364C;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: white;
    position: absolute;
    font-size: 0.9em;
    text-align: center;
}

.indicator span {
    position: relative;
}